{% extends 'groups/group_base.html' %}

{% block pregroup %}

{#  lowercase 'model' from GroupDetailView class#}
  <h1>{{ group.name }}</h1>
  <h2>Members: {{ group.members.count }}</h2>

  <div class="content">
    {% if user in group.members.all %}

      <a href="{% url 'groups:leave123' slug=group.slug %}" class="btn btn-lg btn-warning">
        <span class="fa fa-times-circle-o">Leave</span>
      </a>

    {% else %}

      <a href="{% url 'groups:join123' slug=group.slug %}" class="btn btn-lg btn-warning">
        <span class="fa fa-check-circle-o">Join</span>
      </a>

    {% endif %}
  </div>

{% endblock %}

{#to avoid displaying on the entire page#}
  <div class="col-md-8">
    {% if group.posts.count == 0 %}
      <h5>No posts in this group yet.</h5>
    {% else %}
      {% for post in group.posts.all %}
        {% include 'posts/_post.html' %}
      {% endfor %}
    {% endif %}
  </div>

{% block group_content %}



{% endblock %}